<!DOCTYPE html>

<html>

<head>

<title>Climate Change Dashboard</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="textchange.js"></script> -->
</head>

<body>

<!--navbar links-->     
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">Climate Change Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarTogglerDemo02" 
  aria-controls="navbarTogglerDemo02" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.udacity.com">Udacity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://data.worldbank.org/indicator">World Bank Indicators</a>
      </li>
    </ul>
  </div>
</nav>

<!--middle section-->       
<div class="row">

    <!--social media buttons column-->      
    <div class="col-1 border-right">
        <div id="follow-me" class="mt-3">
            <a href="https://www.linkedin.com/in/marcus-zeug/">
                <img src="/static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
            </a>
            <a href="https://github.com/marcus-repo">
                <img src="/static/img/githublogo.png" alt="github" class="img-fluid ml-2">
            </a>
        </div>
    </div>

    <!--visualizations column-->        
    <div class="col-11">

        <!--chart descriptions-->       
        <div id="middle-info" class="mt-3">

            <h2 id="tag-line">CO2 Emissions and Energy Consumption</h2>
            <h4 id="tag-line" class="text-muted">Top 10 World Economies</h4>
            <button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target=".text0">
                Chart explanations
            </button>
            
        </div>

        <!--charts-->       
        <div id="charts" class="container p-3 text-center">
                    
            <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <!-- chart -->
                    <div id="{{ids[0]}}"></div>
                    <!-- explanation -->
                    <div class="collapse text0" style="float: left">
                          <ul class="text-sm-left font-weight-light">
                            <li>China accounts for the highest absolute CO2 emissions in the last 10 years, 
                                the emmissions are sharply rising from 2000 to 2013 and are leveling off in 2014/2015 </li>
                            <li>Ranking second in emissions, the United states are roughly outputting 
                                5 billion tons per year since the early 1990ies </li>
                            <li>India is experiencing a moderate but continues increasing trend in emissions since 
                                2005 while the rest of the economies are rather steady </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <!-- chart -->
                    <div id="{{ids[1]}}"></div>
                    <!-- explanation -->
                    <div class="collapse text0" style="float: left">
                        <p style="font-style: italic;">It makes sense to use a relative indicator such as the 
                            emissions in metric tons per capita to compare the impact. The definition of the 
                            indicator can be found on the bottom of the webapp.</p>
                        <ul class="text-sm-left font-weight-light">
                            <li>While China is on the top rank for the absolute emissions, USA and Canada 
                                have still double the emissions per capita compared   to China in 2015</li>
                            <li>A moderate downward trend is visible for most of the economies in 
                                recent years; China, India and Brazil are the exceptions</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <!-- chart -->
                    <div id="{{ids[2]}}"></div>
                    <!-- explanation -->
                    <div class="collapse text0" style="float: left">
                        <ul class="text-sm-left font-weight-light">
                            <li>Canada is ranking number one followed by the USA throughout the timeline</li>
                            <li>One can see that there is a connection between the power consumption and 
                                CO2 emission charts per capita</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <!-- chart -->
                    <div id="{{ids[3]}}"></div>
                   <!-- explanation -->
                    <div class="collapse text0" style="float: left">
                        <ul class="text-sm-left font-weight-light">
                            <li>Brazil accounts for the highest proportion of renewable energy 
                                consumption in recent years</li>
                            <li>There is a relative decline of usage of renewables (shift to conventional energy) 
                                in China and India over time</li>
                            <li>Canada's higher proportion of renewable energy compared to the USA possibly explains
                                why the CO2 emissions per capita (chart upper right) are lower despite the 
                                higher electric power consumption per capita (chart lower left)</li>
                        </ul>
                    </div>
                <div>
            </div>


        
        </div>

        <div class="row mt-3">
            <div class ="column-11">
                <p class="font-weight-light">
                    * Carbon emissions per capita are measured as the total amount of carbon dioxide emitted 
                    by the country as a consequence of all relevant human (production and consumption) activities, 
                    divided by the population of the country.
                </p>
            </div>
        </div>

    </div>  
</div>

<!--footer section-->               
<div id="footer" class="container"></div>

</body>


<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout,
                figures[i].config || {});
        }
    </script>
    
</footer>


</html>